language: python
python:
    - "2.7"
sudo: false
cache:
  directories:
    - "~/.platformio"

env:
  matrix:
    - TARGET="PubSub_pro8MHzatmega328"
    - TARGET="ConnectEthernetClient_pro8MHzatmega328"
    - TARGET="ConnectEsp8266WiFiClient_esp12e"

install:
  - pip install -U platformio

script:
  - platformio run -e $TARGET

notifications:
  email:
    on_success: change
    on_failure: always
